*{
margin: 0;
padding: 0;
font-family: Century Gothic;

}
body{
    background-image: url(../30.jpg);
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    text-align: center;

}


header{
background-color:yellow;
height: 20vh;
background-size: cover;
background-position: center;
}

ul{
float: right;
list-style-type: name;
    margin-top: 25px;
}

ul li{
display: inline-block;
}

ul li a{
text-indent: name;
color: red;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

ul li a:hover{
background-color: #fff;
color: #000;
}
ul li.active a{
background-color: #fff;
color: #000;
}
.sum1 h1{
    
    left:0px;
    bottom: 0px;
    font-family: Times New Roman;
    font-size: 25px;
    color: black;


}
.sum h2{
    font-family: Times New Roman;
    font-size: 20px;
    color: orangered;

}
.sum h3{
    font-family: Times New Roman;
    font-size: 20px;
    color: green;

}